.biographie {
  margin : 40px;
  margin-left: 0px;

  p {
    margin: 0px;
  }
}

.texts-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.text-content {
  padding: 24px;
  font-size: 14px;
  font-style: oblique;
  max-height: 320px;
  overflow-x: scroll;
  border-radius: $border-radius;
}

.text-container {
  border: 1px solid white;
  border-radius: $border-radius;
  margin: 24px 0px;
}

.text-source {
  margin: 0 24px;
  align-item: center;
  border-top: 1px solid white;
  p {
    margin: 8px 0px;
  }

  .text-title {
    font-style: oblique;
    padding-left: 8px;
  }

  .text-year {
    font-weight: bold;
    padding-left: 16px;
  }
}

.nav-link {
  color: black;
  &:hover{
    color: black;
  }
}

.nav-tabs .nav-link.active {
  border-color: white white transparent;
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid white;
}

.nav-tabs .nav-link:hover {
  border-color: white white transparent;
}

.link {
  color: black;
  &:hover{
    color: white;
    text-decoration: none;
  }
}
