.links a {
  text-decoration: none;
  color: white;
}

.links a:hover {
  text-decoration: none;
  color: white;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100vh;
  margin: 0;
  text-align: center;
  p {
    margin-top: 24px;
  }
}

.all-rounding {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounding {
  transition: transform 3s;
  padding: 0;
  margin: 0 6px;
}

.rounding:hover {
  transform: rotate(360deg);
}



@include media-breakpoint-only(xs) {
  .home-text img{
    max-height: 200px;
  }
}
@include media-breakpoint-only(sm) {
  .home-text img{
    max-height: 300px;
  }
}
@include media-breakpoint-only(md) {
  .home-text img{
    max-height: 300px;
  }
}
@include media-breakpoint-only(lg) {
  .home-text img{
    max-height: 400px;
  }
}
@include media-breakpoint-only(xl) {
  .home-text img{
    max-height: 400px;
  }
}
