.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  text-decoration: none;
  color: black;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  p {
    margin-top: 24px;
    color: white;
  }
  hr {
    border-top: 3px solid white;
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    position: relative;
    right: 204px;
  }
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.big {
  color: transparent;
  font-weight: bold;
  font-size: 10rem;
  -webkit-text-stroke: 6px white;
  letter-spacing: 1rem;
  line-height: 1;
  margin-bottom: 56px;
}

.medium {
  color: transparent;
  font-weight: bold;
  font-size: 4.5rem;
  -webkit-text-stroke: 3px white;
  max-width: 204px;
  letter-spacing: .2rem;
}


@include media-breakpoint-only(xs) {
  .home-text {
    img {
      max-height: 200px;
    }
    p {
      width: 200px;
    }
    .all-rounding {
      width: 220px;
    }
  }
}
@include media-breakpoint-only(sm) {
  .home-text img {
    max-height: 300px;
  }
}
@include media-breakpoint-only(md) {
  .home-text img {
    max-height: 400px;
  }
}
@include media-breakpoint-only(lg) {
  .home-text img {
    max-height: 600px;
  }
}
@include media-breakpoint-only(xl) {
  .home-text img {
    max-height: 800px;
  }
}
