.wrapper {
  display: grid;
  grid-template-columns: auto 452px;
  grid-gap: 32px;
  justify-content: center;
}

.my-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: $red;
  }
}

.my-card {
  height: 184px;
  width: 184px;
  // padding: 16px;

  img {
    border-radius: $border-radius;
  }

  &:hover {

    img {
      filter: brightness(50%) hue-rotate(90deg);
    }

    .my-card-details {
      display: block;
      text-align: center;
      font-size: small;
      max-width: 128px;
      color: white;
      position: relative;
      bottom: 98px;
      left: 16px;

      p {
        margin: 0;
      }
    }
  }
}

.my-card-image {
  width: 160px;
  height: 160px;
  // margin: 8px 0;
}

.my-card-details {
  display: none;
}

.one-work-card {
  // background-color: white;
  max-height: 484px;
  max-width: 424px;
  position: sticky;
  top: 72px;
  border-radius: $border-radius;
  border: 1px solid $red;
  // box-shadow: $box-shadow;
  padding: 8px 32px;
}

.work-card {
  display: flex;
  flex-direction: column;
}

.work-card-image {
  max-height: 368px;
  max-width: 400px;
  object-fit: contain;
}

.video,
.work-card-image {
  margin: 8px 0;
}

.work-description {
  width: 360px;

  p {
  margin: 0;
  }
}

.name-year {
  display: flex;
  justify-content: space-between;
}


// -- Mobile version
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .my-cards {
    display: none;
  }

  .one-work-card {
    position: relative;
    margin: 30px;
    height: 336px;
    width: 312px;
  }

  .work-description {
    width: 280px;
  }
}

// Medium devices (desktops, 768px and up)
@media (min-width: 768px) {
  .my-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

