.wrapper {
  display: flex;
  justify-content: center;
}

.my-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 96px;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: $red;
  }
}

.row2 {
  grid-row-end: 2;
}

.column2 {
  grid-column-end: 2;
}

.my-card {
  height: 160px;
  width: 160px;

  img {
    border-radius: $border-radius;
  }

  &:hover {

    img {
      filter: brightness(50%) hue-rotate(90deg);
    }

    .my-card-details {
      display: block;
      text-align: center;
      font-size: small;
      max-width: 128px;
      color: white;
      position: relative;
      bottom: 98px;
      left: 16px;

      p {
        margin: 0;
      }
    }
  }
}

.my-card-image {
  width: 160px;
  // height: 160px;
}

.my-card-details {
  display: none;
}

.one-work-card {
  border-radius: $border-radius;
}

.work-card {
  display: flex;
  flex-direction: column;
}

.work-card-image {
  object-fit: contain;
}

.video,
.work-card-image {
  margin: 8px 0;
}

.work-description {
  p {
  margin: 0;
  }
}

.name-year {
  display: flex;
  justify-content: space-between;
}


// -- Mobile version
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .my-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .one-work-card {
    position: relative;
    margin: 30px;
    // height: 336px;
    // width: 312px;
  }

  .work-description {
    width: 280px;
  }
}

// Medium devices (desktops, 768px and up)
@media (min-width: 768px) {
  .my-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

