.wrapper {
  display: grid;
  grid-template-columns: auto 420px;
  grid-gap: 16px;
  justify-content: center;
}

.my-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.my-card {
  // background-color: white;
  // border-radius: $border-radius;
  // box-shadow: $box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 216px;
  width: 184px;
  transition: all .5s ease-out;
  padding: 16px;
}

.my-card-image {
  max-width: 128px;
  max-height: 128px;
  margin: 8px 0;
}

.my-card-details {
  text-align: center;
  font-size: small;
  overflow: scroll;
  max-width: 184px;

  p {
    margin: 0;
  }
}

.one-work-card {
  // background-color: white;
  height: 448px;
  width: 424px;
  position: sticky;
  top: 72px;
  // border-radius: $border-radius;
  // box-shadow: $box-shadow;
}

.work-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.work-card-image {
  max-height: 280px;
  max-width: 280px;
}

.video,
.work-card-image {
  margin: 8px 0;
}

.work-description {
  width: 360px;
  p {
  margin: 0;
  }
}

.name-year {
  display: flex;
  justify-content: space-between;
}

.text-soft {
  color: rgb(80, 80, 80);
  font-size: smaller;
}

// -- Mobile version
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .my-cards {
    display: none;
  }

  .one-work-card {
    position: relative;
    margin: 30px;
    height: 336px;
    width: 312px;
  }

  .work-description {
    width: 280px;
  }
}

// Medium devices (desktops, 768px and up)
@media (min-width: 768px) {
  .my-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

