<% if !record.video_key %>
  <div class="wrapper align-items-center">
    <%= handle_image_work record, crop: :fill, class: "work-card-image" %>
  </div>
<% else %>
  <div style="padding:56.25% 0 0 0; position:relative;">
    <iframe
      src="https://player.vimeo.com/video/<%= record.video_key %>?autoplay=1&mute=1&title=0&byline=0&portrait=0"
      style="position:absolute; top:0; left:0; width:100%; height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen>
    </iframe>
  </div>
<% end %>
