<%= link_to "works?collection=Kinetic", class: "links" do %>
  <div class="home-text container-fluid links">
    <h1 class="text-centered mb-5 logo big">
      ROGER VILDER
    </h1>
    <%= image_tag "film.gif" %>
    <p><%= t('home.catchphrase') %></p>
  </div>
<% end %>
