<div class="home-text container-fluid links">
  <%= link_to "works?collection=Kinetic" do %>
    <h1 class="text-centered mt-3">
      <div class="all-rounding">
      <% @letters.each do |letter| %>
        <div class="rounding">
          <%= letter %>
        </div>
      <% end %>
      </div>
    </h1>
    <%= image_tag "film.gif" %>
    <p><%= t('home.catchphrase') %></p>
  <% end %>
</div>
