<%= link_to "works?collection=Kinetic", class: "links" do %>
  <div class="home-text container-fluid links">
    <h1 class="text-centered mt-3">
      <div class="letters-wrapper">
        <% @letters.each do |letter| %>
          <div class="letters">
            <%= letter %>
          </div>
        <% end %>
      </div>
    </h1>
    <%= image_tag "film.gif" %>
    <p><%= t('home.catchphrase') %></p>
  </div>
<% end %>
