<div class="home-text container-fluid plus-navbar links">
  <%= link_to "works?collection=Kinetic" do %>
    <%= cl_image_tag "https://res.cloudinary.com/dfbhkicfg/image/upload/v1577719405/YXYFzZbu9xeEAoTUeujaRmAo.gif" %>
    <h1 class="text-centered mt-3">Roger Vilder</h1>
    <p><%= t('home.catchphrase') %></p>
  <% end %>
</div>
