.box {
  border-radius: $border-radius;
  height: fit-content;
  max-height: 528px;
  overflow: scroll;
  padding: 24px;
  border: 1px solid transparent;
  border-color: transparent white white white;
  p {
    padding-bottom: 0px 4px;
    margin: 0 8px;
  }
}

.film-box {
  border: 1px solid transparent;
  border-color: transparent white white white;
  padding: 16px;
}
