.container-with-navbar {
  margin: 80px 20px;
}

.container-less-navbar {
  margin: 56px 20px;
}

@media (max-width: 768px) {
  .container-with-navbar {
    margin: 20px 20px;
  }
}


.container-contact-page {
  margin: 120px 56px;
}
