.contact-wrapper {
  display: flex;
}

.profile-img {
  flex-grow: 1;
}

.profile-img a {
  color: black;
  &:hover{
    color: #495057;
  }
}

.mail h6 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px;
}

.contact-infos {
  margin: 8px 72px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin-bottom: 0px;
    font-style: oblique;
  }

  span {
    font-style: initial;
  }
}

.addresses {
  display: flex;
  justify-content: center;

  .address {
    border-right: solid 1px darkslategrey;
    padding: 0px 16px;
  }

  #canadian-address {
    border-right: none;
  }

  #french-address {
    text-align: end;
  }
}

.awards {
  h6 {
    text-align: center;
    margin: 16px 0px;
  }

  ul {
    text-align: center;
  }
}
