.container-with-navbar {
  margin: 80px 20px;
}

.container-less-navbar {
  margin: 56px;
}

.container-no-navbar {
  margin: 20px;
}

.container-vertical-navbar {
  margin: 16px 16px 16px 236px;
}

@media (max-width: 768px) {
  .container-with-navbar {
    margin: 20px 20px;
  }
}


.container-contact-page {
  margin: 120px 56px;
}
