.container-fluid {
  padding: 0;
}

.navbar-rv a,
.mobile-menu-rv a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-rv {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .50s ease;

  img {
    margin-left: 12px;
  }
}


.navbar-logo {
  padding: 0;
}

.navbar-categories {
  display: flex;
  align-items: flex-end;
  padding-bottom: 16px;

  h2 {
    margin: 0px;
    font-weight: bolder;
  }
}


.navbar-about {
  display: flex;
  align-items: flex-end;
  padding-bottom: 16px;
  margin-right: 8px;
}

.navbar-item,
.mobile-item {
  padding: 3px 8px;
}

.navbar-item:hover {
  padding-bottom: 0px;
  border-bottom: solid 3px #e9815b;
}

.navbar-hover {
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

// -- Mobile version

@media (max-width: 768px) {
  .navbar-about,
  .navbar-categories,
  .navbar-rv {
    display: none;
  }

  .background-mobile {
    z-index: 4;
    position: fixed;
    top: 0;
    display: block;
    background: white;
    border: solid 1px gray;
    height: 100vh;
    width: 200px;
    margin-left: -300px;
    transition: all 1s ease;

    &.menu-active {
      margin-left: 0px;
    }
  }

  .mobile-menu-rv {
    position: fixed;
    left: 16px;
    top: 12px;
    z-index: 5;
    font-size: 32px;
  }

  .burger {
    cursor: pointer;
    background-color: white;
    padding: 20px;
    padding-bottom: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    width: fit-content;

    &.menu-active {
      box-shadow: none;

      div:nth-child(1) {
        opacity: 0;
      }

      div:nth-child(2) {
        transform: rotate(90deg) translateY(11px);
        height: 16px;
      }

      div:nth-child(3) {
        transform: rotate(-90deg) translatex(24px) translateY(16px);
        height: 16px;
      }
    }

    div {
      width: 48px;
      height: 8px;
      background: #e9815b;
      margin-bottom: 8px;
      transition: all 1s ease;
    }
  }

  // .my-cards {
  //   display: flex;
  //   position: relative;
  //   margin: 8px;
  //   overflow: scroll;
  // }
  // .my-card {
  //   height: 96px;
  //   width: 80px;
  //   margin: 64px 8px;
  // }
  // .my-card-image {
  //   max-width: 72px;
  //   max-height: 64px;
  //   margin: 0;
  // }
  // .my-card-details {
  //   display: none;
  // }
  .mobile-categories,
  .mobile-about {
    position: fixed;
    z-index: 5;
    display: block;
  }

    .mobile-about {
    position: fixed;
    bottom: 8px;
  }

  .mobile-item {
    margin-left: -300px;
    transition: all 1s ease;

    &.menu-active {
    margin-left: 0px;
    }
  }

}

 // -- Hide Burger Menu when laptop version --

@media (min-width: 768px) {
  .mobile-menu-rv {
    display: none;
  }
}
