.navbar-lewagon {
  img {
    width: 40px;
  }
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
.navbar-lewagon-white, .navbar-lewagon {
  background-color: white;
}

.plus-navbar {
  margin-top: 90px;
}

.anchor {
  position: relative;
  top: -90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-contact,
.navbar-works {
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  color: black;
  border-bottom: 0.5px solid black;
  padding-bottom: 5px;
}
