.directions {
  max-width: 20px;
}

.cross {
  max-width: 15px;
  height: 15px;
  position: relative;
  right: 32px;
}



.work-card {
  display: flex;
  flex-direction: column;
}

.work-card-image {
  object-fit: contain;
  margin: 8px 0;
  max-height: 50vw;
  max-width: 140vh;
}

.work-card-video {
  width: 140vh;
}

.work-description {
  p {
    margin: 0;
  }
}

.name-year {
  display: flex;
  justify-content: space-between;
}
