.one-work-card {
  border-radius: $border-radius;
}

.work-card {
  display: flex;
  flex-direction: column;
}

.work-card-image {
  object-fit: contain;
  margin: 8px 0;
  max-height: 50vw;
}

.work-card-video {
  width: 140vh;
}

.work-description {
  p {
    margin: 0;
  }
}

.name-year {
  display: flex;
  justify-content: space-between;
}
